.catList {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, 16rem);
  margin: 0;
  padding: 0;
  max-width: 100%;
  place-items: center;

  .catCard {
    background-color: #f5f5f5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: fit-content;
    margin-bottom: 4rem;
    

    .imageWrapper {
      img: {
        width: 12rem;
      }
    }

    span {
      h3 {
        margin: 0.5rem 0;
      }
      p {
        margin: 5px 0;
      }
    }

    .cutometerWrapper {
      align-items: center;
      display: flex;
      height: 2rem;
      width: 100%;
      z-index: 200;

      p {
        margin: 0 5px 0 0;
      }

      .cutometer {
        border: 1px solid black;
        height: fit-content;
        padding: 2px 1px;
        flex: 1;

        .cutometerValue {
          background-color: #000;
          height: 5px;
        }
      }
    }
  }
}